body {

background: #196dff;

text-align: center;

}
#main{
	
	width: 1000px;
	
	height : 600px;
	
	background: #fff5f7;
	
	margin: 25px auto;
	
	border: solid 2px #c9d2d6;
	
	padding: 20px;
	
}
h1{
	
	text-align: center;
	font-family: "Times New Roman";
	font: 24pt;
	color: #c9d2d6;
}
hr{
	height: 2px;
	color: #ff3819;
	
	
	
}
p{

font-family:"Calibri";
font-size : 12pt;

text-align : left;

text-indent: 48px;
color: #2f2d2d;	
	
	
}
	
	
	
