body {

background: #196dff;

/*text-align : left;*/	
	
}
.main{
	
	width: 1000px;
	
	height : auto;
	
	background: #fff5f7;
	
	margin: 25px auto;
	
	border: solid 2px #c9d2d6;
	
	padding: 20px;
	
	
	
}
.frame{
	
    text-align:center;
    width:100%;
    height: auto;	
	
	
	
}
.colum{
	
  float: left;
  width: 33.333%;

	
}

	
h1{
	
	text-align: center;
	font-family: "Times New Roman";
	font: 18pt;
	color: #c9d2d6;
}
hr{
	height: 2px;
	color: #ff3819;
	
	
	
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
p{

font-family:"Calibri";
font-size : 12pt;
line-height: 1.5;
/*text-indent: 48px;*/
color: #2f2d2d;	
	
	
}
.image{
    
    text-align: center;	
     width:100%;
    height: auto;
}
footer{
	
	width: 1000px;
	
	height : auto;
	
	background: #fff5f7;
	
	margin: 25px auto;
	
	border: solid 2px #c9d2d6;
	
	/*padding: 20px;*/
	
}
